<article class="post">
  <a href="/post/{{id}}"></a>
  <div class="title">
    <a>{{title}}</a>
  </div>
  <div class="meta">
    created on
    {{format_date createdAt}}
    |
    <p>by {{user.username}}</p>
  </div>
</article>